
*{
    /* margin: 0;
    padding: 0; */
    font-family: Georgia, 'Times New Roman', Times, serif;
}
body{
    margin: 10px;
    border-right:1ch;
    border-left:1ch;
    font-family: Georgia;
    background-image: url("/media/BlueBlack.gif");

}
main header{
    display: inline-block;
    margin-left: 20%;
}

.devOps{
    font-style: italic;
    font-size: large;
    color:white;
    display: inline-block;
    margin: auto;
}
h1 {
    font-weight: bold;
    font-size: xxx-large;
    font-family: Georgia;
    color:cyan;
    text-align: center;
}
nav{
    font-weight: bold;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-links{
    margin-right: 10px;
    text-align: center;
}
.nav-links ul li{
    list-style: none;
    font: bold;
    display: inline-block;
    position: relative;
    margin-inline-start: 30px;
}
.nav-links ul li a{
    color: whitesmoke;
    text-decoration: wavy;
    font-size: 13;
    margin-left: 100%;
}
nav image{
    size: 2px;
}
.agenda{
    position:relative;
    border: auto;
    font-weight: bold;
    font-family: Georgia;
    color:chartreuse;
}
.attendance{
    flex: none;
}
.head2{
    position:relative;
    border: auto;
    font-weight: bold;
    font-family: Georgia;
    color:darkblue;
}
.content-wrapper{
    padding: auto;
}
section {
    flex: auto;
    margin-left: 5ch;
    margin-right: 5ch;
    display: grid;
    background-color:blanchedalmond;
    border-style:grid;
}
p{
    text-align: left;
    margin-left:0;
}
hr {
    border: 1ch solid ;
    border-radius: 10px;
    color: orangered;
}

button:hover {
    color: blue;
    size-adjust:initial*2;
}

 .footHead{
    color:chartreuse;
 }
 .meetDate{
    color: rgb(241, 255, 240);
 }

